# == Application
config/push.yml
test/fixtures/active_storage/blobs.yml

# == System
.ruby-lsp/
.bundle/
bin/
dist/
db/
log/
node_modules/
public/dist*/
sorbet/
storage/
tmp/
vendor/
package-lock.json
**/*generated*
Gemfile
Gemfile.lock
