@layer theme, base, base-components, components, utilities;

@import "tailwindcss";
@source not "../../../sorbet/";
@source not "../../views/mailers/";

@import "tw-fade";
@import "tw-animate-css";
@import "tw-shimmer";
@import "shadcn/tailwind.css";

@import "./hotwire_native.css";
@import "./theme.css";
@import "./notifications.css";

@import "./tippy.css";
@import "./pagy.css";
@import "./lexxy.css";
@import "./uppy.css";
@import "./toasts.css";
@import "./fslightbox.css";
@import "./glide.css";

@import "./loading.css";
@import "./alerts.css";
@import "./skeletons.css";
@import "./badges.css";
@import "./buttons.css";
@import "./cards.css";
@import "./labels.css";
@import "./dialogs.css";
@import "./dropdown_menus.css";
@import "./popovers.css";
@import "./separators.css";
@import "./items.css";
@import "./empty.css";
@import "./inputs.css";
@import "./input_groups.css";
@import "./textareas.css";
@import "./fields.css";
@import "./forms.css";
@import "./comboboxes.css";
@import "./radio_groups.css";
@import "./checkboxes.css";
@import "./selects.css";

@import "./phone_number_inputs.css";
@import "./emoji_selects.css";
@import "./post_recipients_selects.css";
@import "./image_stacks.css";
/*@import "./otp_inputs.css";*/

@import "./layouts.css";
@import "./worlds.css";
@import "./posts.css";
@import "./world_key_grants.css";

/* @import "./sign_in_with_apple.css";
@import "./sign_in_with_google.css"; */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  .link {
    @apply text-muted-foreground underline-offset-4 hover:underline;
  }
}

@layer utilities {
  .hidden[data-hidden-inline] {
    display: revert-layer;
    opacity: 0;
  }
}

@utility revert-display-layer {
  display: revert-layer;
}

@utility visually-hidden {
  @apply fixed top-0 left-0 -m-px size-px overflow-hidden border-0 p-0 whitespace-nowrap;

  clip-path: inset(50%);
}

@custom-variant dark {
  @media (prefers-color-scheme: dark) {
    :where(body:not(.no-dark)) & {
      @slot;
    }
  }
}
