@layer components {
  :where(.btn) {
    @apply flex items-center justify-center gap-2 rounded-3xl px-4 py-2;
    @apply font-headings font-semibold text-primary-500;
    @apply transition-colors duration-200 ease-out;
    @apply cursor-pointer;
    @apply ring-offset-2 dark:ring-offset-0;
    @apply hover:bg-primary-200/50 hover:dark:bg-primary-900/50;

    @media (pointer: coarse) {
      -webkit-touch-callout: none;

      @apply select-none;
    }

    &:not(:disabled) {
      form[aria-busy="true"] & {
        @apply pointer-events-none cursor-not-allowed opacity-30;
      }
    }

    &:disabled {
      @apply pointer-events-none cursor-not-allowed opacity-30;

      form[aria-busy="true"] & {
        @apply relative;

        > * {
          @apply invisible;
        }

        &::after {
          --mask: no-repeat radial-gradient(#000 68%, #0000 71%);
          --size: 1.25em;

          @apply absolute;

          -webkit-mask: var(--mask), var(--mask), var(--mask);
          -webkit-mask-size: 28% 45%;
          animation: submitting 1s infinite linear;
          aspect-ratio: 8/5;
          background: currentColor;
          content: "";
          inline-size: var(--size);
          inset: 50%;
          margin-block: calc((var(--size) / 3) * -1);
          margin-inline: calc((var(--size) / 2) * -1);
        }
      }
    }
  }

  :where(.btn-action) {
    @apply bg-primary-600 text-white;
    @apply hover:bg-primary-700;
  }

  :where(.btn-readonly) {
    &:disabled {
      @apply cursor-default opacity-100;
    }
  }
}
