@layer components {
  .flash {
    @apply fixed flex justify-center;

    inset-block-start: var(--block-space);
    inset-inline-start: 50%;
    transform: translate(-50%);
    z-index: var(--z-flash);

    .flash-inner {
      @apply mx-auto inline-flex;
      @apply bg-shade-900 text-base text-white shadow-sm;

      animation: appear-then-fade 3s 300ms both;
      border-radius: 4em;
      padding: 0.7em 1.4em;
    }
  }
}
