@layer components {
  :where(.field_with_errors) {
    @apply contents;
  }

  :where(.form_input),
  :where(.form_textarea),
  :where(.form_select),
  :where(.form_multiselect) {
    @apply bg-shade-body px-3.5 py-2.5;
    @apply rounded-2xl border-2 border-input-border;
    @apply placeholder:text-shade-400 dark:placeholder:text-shade-500;
    @apply text-lg leading-snug;

    &:focus-visible {
      @apply border-focus-ring ring-focus-ring;
    }

    &[data-error] {
      @apply border-error-500 focus:border-error-500;
    }
  }

  :where(.form_input-lg) {
    @apply text-xl;
  }

  :where(.form_checkbox),
  :where(.form_radio) {
    @apply size-6 rounded-3xl border-2 text-shade-contrast;

    /* CSS specifier trick to override white border from Tailwind form plugin */
    :root &:not(:checked) {
      @apply border-shade-contrast bg-transparent;
    }

    &:checked {
      @media (prefers-color-scheme: dark) {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
      }
    }

    &:focus {
      @apply ring-0 ring-offset-0 outline-focus-ring;
    }
  }
}

@layer components {
  :where(.field_wrapper) {
    @apply flex flex-col items-stretch gap-1;
  }

  :where(.field_wrapper_label) {
    @apply block font-headings text-sm leading-tight font-medium text-shade-700 dark:text-shade-200;
  }

  :where(.field_wrapper_description) {
    @apply mb-1 text-xs leading-tight text-shade-dimmed;
  }

  :where(.field_wrapper_error) {
    @apply text-sm leading-tight text-red-600 dark:text-red-500;
  }
}

@layer components {
  :where(.icon_field_input_container) {
    @apply mt-1 size-36;
    @apply rounded-app-icon border-2 border-dashed border-input-border;

    &:not(:has(> .filepond--root)) {
      @apply animate-pulse bg-shade-200 dark:bg-shade-800;
    }

    .filepond--root[data-style-panel-layout~="circle"] {
      @apply rounded-app-icon!;

      .filepond--image-preview-wrapper {
        @apply rounded-app-icon!;
      }
    }
  }

  :where(.icon_field_modal_dialog) {
    .modal_panel {
      @apply mb-12 max-w-xl bg-transparent p-0 shadow-none;
      @apply focus-visible:ring-0;
      @apply relative;

      img {
        @apply shadow-xl;

        max-height: calc(
          100vh - (var(--spacing) * 20) - env(safe-area-inset-top) -
            env(safe-area-inset-bottom)
        );
      }

      &:has(> img) {
        &::after {
          @apply absolute inset-0;
          content: "";
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      .truecropper .truecropper__selection {
        @apply rounded-app-icon;
      }
    }
  }

  :where(.icon_field_modal_dialog_footer) {
    @apply absolute right-0 -bottom-12 left-0;
    @apply flex flex-col items-center;
    @apply pointer-events-none *:pointer-events-auto;
  }
}

@layer components {
  :where(.rich_text_area) {
    lexxy-editor {
      @apply min-h-56;

      button,
      summary {
        @apply bg-inherit;
      }
    }

    lexxy-toolbar {
      @apply rounded-t-2xl bg-shade-body;

      :has(> [name="highlight"]),
      [name="upload"],
      [name="heading"] {
        @apply hidden;
      }
    }

    .lexxy-editor__content {
      @apply text-lg;
    }
  }
}

@layer components {
  :where(.emoji_field_input) {
    @apply w-11 p-2;
    @apply text-center;
    @apply cursor-pointer placeholder:text-transparent;
    @apply hover:border-primary-400 aria-expanded:border-primary-400;
  }

  :where(.emoji_field_placeholder) {
    @apply invisible absolute inset-0 z-0;
    @apply flex items-center justify-center;
    @apply pointer-events-none;

    .emoji_field_input:placeholder-shown + & {
      @apply visible;
    }
  }
}

@layer components {
  :where(.otp_field_otp_input) {
    @apply w-11 p-2 text-center;
  }
}
