@layer components {
  .form-input,
  .form-textarea,
  .form-select,
  .form-multiselect {
    @apply border-shade-300 focus:border-focus-ring focus:ring-focus-ring border;
    @apply leading-snug;

    &[data-error] {
      @apply border-red-500 focus:border-red-500;
    }
  }

  .form-checkbox,
  .form-radio {
    @apply text-primary-600 focus:ring-focus-ring;
  }

  .field_with_errors {
    @apply contents;
  }

  .icon-field {
    .form-input {
      border-radius: var(--app-icon-radius);

      &:not(:has(> .filepond--root)) {
        @apply bg-shade-300 animate-pulse;
      }
    }

    .editor-modal {
      .modal-panel {
        @apply p-0 max-w-xl bg-transparent focus-visible:ring-transparent shadow-none;

        .editor-modal-content {
          @apply flex flex-col gap-3 items-center;

          img {
            @apply shadow-xl;
            max-height: calc(100vh - var(--spacing) * 20);
          }
        }
      }
    }

    .filepond--root[data-style-panel-layout~="circle"] {
      border-radius: var(--app-icon-radius) !important;

      .filepond--image-preview-wrapper {
        border-radius: var(--app-icon-radius) !important;
      }
    }

    /* .uppy-container {
      @apply relative flex flex-col items-stretch border-none;
      border-radius: var(--app-icon-radius);

      &:not(:has(> .uppy-Root))::after {
        @apply absolute inset-0 bg-stone-200 animate-pulse;
        border-radius: var(--app-icon-radius);
        content: "";
      }
    }

    .uppy-Root {
      @apply flex-1;
    }

    .uppy-Root,
    .uppy-DragDrop-container {
      border-radius: inherit;
    }

    .uppy-DragDrop--isDragDropSupported {
      @apply border-shade-300;
    }

    .uppy-DragDrop-inner {
      @apply p-2;
    }

    .uppy-DragDrop-arrow {
      @apply h-9 mb-2;
    }

    .uppy-DragDrop-label {
      @apply text-sm font-medium font-sans leading-tight lowercase text-shade-600;
    } */
  }
}
