@layer components {
  .form-input,
  .form-textarea,
  .form-select,
  .form-multiselect {
    @apply border border-shade-300 focus:border-focus-ring focus:ring-focus-ring;
    @apply leading-snug;

    &[data-error] {
      @apply border-red-500 focus:border-red-500;
    }
  }

  .form-checkbox,
  .form-radio {
    @apply text-primary-600 focus:ring-focus-ring;
  }

  .field_with_errors {
    @apply contents;
  }

  .icon-field {
    .form-input {
      @apply rounded-app-icon;

      &:not(:has(> .filepond--root)) {
        @apply animate-pulse bg-shade-300;
      }
    }

    .editor-modal {
      .modal-panel {
        @apply mb-11 max-w-xl bg-transparent p-0 shadow-none;
        @apply focus-visible:ring-0;
        @apply relative;

        img {
          @apply shadow-xl;
          max-height: calc(100vh - var(--spacing) * 20);
        }

        &:has(> img) {
          &::after {
            @apply absolute inset-0;
            content: "";
            background-color: rgba(0, 0, 0, 0.5);
          }
        }

        .truecropper .truecropper__selection {
          @apply rounded-app-icon;
        }

        .footer {
          @apply absolute right-0 -bottom-11 left-0;
          @apply flex flex-col items-center;
          @apply pointer-events-none *:pointer-events-auto;
        }
      }
    }

    .filepond--root[data-style-panel-layout~="circle"] {
      @apply rounded-app-icon!;

      .filepond--image-preview-wrapper {
        @apply rounded-app-icon!;
      }
    }
  }
}
