@layer base {
  body {
    @apply flex min-h-lvh flex-col;
  }
}

@layer components {
  :where(.page-container) {
    @apply mx-auto max-w-xl p-4 native:py-0;
  }
}

@layer components {
  .app-header {
    @apply sticky top-0 h-12 px-2;
    @apply flex items-center justify-between;
    @apply native:hidden;

    z-index: 100;

    &::before {
      @apply absolute inset-0 -bottom-2 backdrop-blur-xs;

      --color-background: var(--color-white);
      @media (prefers-color-scheme: dark) {
        --color-background: var(--color-shade-900);
      }

      z-index: -1;
      content: "";
      background-image: linear-gradient(
        to top,
        transparent,
        --alpha(var(--color-background) / 80%)
      );
      mask: linear-gradient(to top, transparent, black --spacing(6));
    }

    .logo-button {
      @apply py-1 pr-3 pl-2;
      @apply gap-1;
      @apply text-black dark:text-white;

      &:hover {
        @apply bg-shade-100 dark:bg-shade-800;
      }
    }

    .menu-btn {
      @apply text-black dark:text-white;
    }
  }

  .app-main {
    @apply flex-1;

    html[data-hotwire-native] & {
      padding-top: env(safe-area-inset-top);
      padding-bottom: env(safe-area-inset-bottom);
    }
  }
}

.turbo-progress-bar {
  @apply h-0.5;
  @apply bg-transparent bg-linear-to-r from-transparent to-primary-500;
}
