@layer base {
  :where(:focus-visible) {
    @apply ring-2 ring-focus-ring;

    outline: none;
  }

  html,
  :host {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-headings;
    }
  }
}

@layer components {
  .header {
    @apply sticky top-0 flex h-12 items-center px-2;

    z-index: 100;

    &::before {
      @apply absolute inset-0 -bottom-2 backdrop-blur-xs;

      z-index: -1;
      content: "";
      background-image: linear-gradient(
        to top,
        transparent,
        --alpha(var(--color-white) / 80%)
      );
      mask: linear-gradient(to top, transparent, black --spacing(6));
    }
  }
}

.turbo-progress-bar {
  @apply h-0.5;
  @apply bg-transparent bg-linear-to-r from-transparent to-primary-500;
}
