@import "../../../vendor/stylesheets/lexxy/lexxy.css" layer(base);

@layer components {
  .lexxy-content {
    @apply text-base md:text-sm;

    p:has(br) {
      @apply leading-2;
    }

    hr {
      @apply w-full text-ring;
    }
  }

  lexxy-editor {
    @apply w-full rounded-md border border-input bg-transparent shadow-xs transition-[color,box-shadow] outline-none;
    @apply disabled:cursor-not-allowed disabled:opacity-50 aria-invalid:border-destructive aria-invalid:ring-3 aria-invalid:ring-destructive/20 dark:bg-input/30 dark:aria-invalid:border-destructive/50 dark:aria-invalid:ring-destructive/40;

    --lexxy-toolbar-gap: var(--spacing);

    &[data-focused]:not(
        :has(
          input:focus-visible,
          button:focus-visible,
          summary:focus-visible,
          details[open],
          .node--selected
        )
      ) {
      @apply border-ring ring-3 ring-ring/50;
    }

    .lexxy-editor__content {
      &::before {
        @apply text-muted-foreground;
      }
    }

    /*&:has(.lexxy-editor__content:focus-visible) {
      @apply bg-red;
    }*/

    input,
    button,
    summary {
      @apply transition-shadow;
      @apply focus-visible:border-ring focus-visible:ring-3 focus-visible:ring-ring/50;
    }

    .node--selected {
      @apply rounded-sm border-ring ring-3 ring-ring/50 transition-shadow;
    }

    :where(lexxy-toolbar) {
      .lexxy-editor__toolbar-button {
        @apply md:block-(--lexxy-toolbar-button-desktop-size);
      }

      .lexxy-editor__toolbar-dropdown summary ~ * {
        @apply border border-ring ring-3 ring-ring/50;
        @apply rounded-md;

        /*inset-block-start: calc(100% + var(--spacing));*/
      }

      button[name="table"],
      button[name="code"],
      summary[name="highlight"] {
        @apply hidden;
      }
    }

    :where(.lexxy-floating-controls) {
      .lexxy-floating-controls__group {
        @apply bg-popover p-1 shadow-md ring-1 ring-foreground/10 duration-100 outline-none;
      }

      .lexxy-node-delete {
        @apply bg-destructive/10 text-destructive hover:bg-destructive/20 focus-visible:border-destructive/40 focus-visible:ring-destructive/20 dark:bg-destructive/20 dark:hover:bg-destructive/30 dark:focus-visible:ring-destructive/40;
      }
    }
  }
}
