@layer base {
  body:has(dialog[open]) {
    @apply overflow-hidden;

    /** TODO: Compute scrollbar width to prevent horizontal shift */
    padding-right: var(--scrollbar-width, 0px);
  }
}

@layer components {
  :where(.modal_dialog) {
    @apply fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto;
    @apply bg-transparent backdrop:bg-transparent;
  }

  :where(.modal_backdrop) {
    @apply fixed inset-0;
    @apply bg-shade-500/75 backdrop-blur-xs dark:bg-shade-950/75;
    @apply transition-opacity transition-discrete duration-300 ease-out;

    dialog[open] & {
      @apply opacity-100;

      @starting-style {
        @apply opacity-0;
      }
    }

    dialog[open][data-closing] & {
      @apply opacity-0;
    }
  }

  :where(.modal_container) {
    @apply flex min-h-full items-center justify-center p-4;
  }

  :where(.modal_panel) {
    @apply relative bg-white p-4 shadow-xl;
    @apply transition-all transition-discrete duration-300 ease-out;

    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);

    dialog[open] & {
      @apply translate-y-0 scale-100 opacity-100;

      @starting-style {
        @apply translate-y-4 scale-95 opacity-0;
      }
    }

    dialog[open][data-closing] & {
      @apply translate-y-4 scale-95 opacity-0;
    }
  }

  :where(.dropdown_menu) {
    @apply absolute z-10 transform transition;
    @apply transition-all transition-discrete duration-200 ease-out;
    @apply shadow-lg;

    &.hidden {
      @apply scale-90 opacity-0;

      @starting-style {
        @apply scale-100 opacity-100;
      }
    }

    &:not(.hidden) {
      @apply scale-100 opacity-100;

      @starting-style {
        @apply scale-90 opacity-0;
      }
    }

    li {
      @apply rounded-xl;

      &:hover {
        @apply bg-shade-100 dark:bg-shade-800;
      }

      [role="menuitem"] {
        @apply flex items-center gap-2 rounded-xl p-2;
        @apply font-headings font-medium;
      }
    }
  }

  :where(.dropdown_menu-top_right) {
    @apply top-0 right-0 origin-top-right;
  }

  :where(.dropdown_menu-top_left) {
    @apply top-0 left-0 origin-top-left;
  }

  :where(.dropdown_menu-bottom_right) {
    @apply right-0 bottom-0 origin-bottom-right;
  }

  :where(.menu_btn) {
    @apply px-3 py-1;
    @apply text-sm;
  }

  :where(.menu_card) {
    @apply min-w-44 rounded-2xl p-1;
  }
}

/* useTransition(this, {
  element: this.menuTarget,
  enterFrom: "opacity-0 scale-95",
  enterTo: "opacity-100 scale-100",
  leaveFrom: "opacity-100 scale-100",
  leaveTo: "opacity-0 scale-95",
}); */
