@import "@uppy/core/css/style.min.css" layer(base-components);
@import "@uppy/drag-drop/css/style.min.css" layer(base-components);
@import "@uppy/image-editor/css/style.min.css" layer(base-components);

@layer base-components {
  .uppy {
    @apply flex flex-col;

    &[data-required] {
      [data-slot="uppy-clear"] {
        @apply hidden;
      }
    }

    &[data-uppy-preview-signed-id-value]:not([aria-busy="true"]) {
      [data-slot="uppy-dropzone"] {
        .uppy-DragDrop-inner {
          @apply bg-background/70 opacity-0 backdrop-blur-[2px] hover:opacity-100;
        }
      }
    }

    &[aria-busy="true"] {
      [data-slot="uppy-dropzone"] {
        .uppy-DragDrop-inner {
          @apply relative;

          &::before {
            @apply absolute inset-0 bg-background/70 backdrop-blur-[2px];

            content: "";
            border-radius: inherit;
          }

          &::after {
            @apply absolute spinner;

            content: "";
          }
        }
      }
    }

    &:not([data-uppy-preview-signed-id-value]) {
      [data-slot="uppy-clear"] {
        @apply hidden;
      }
    }
  }

  .uppy-dropzone {
    @apply flex flex-col rounded-xl;

    &:not(:has(.uppy-Root)) {
      @apply animate-pulse bg-muted;
    }

    &[aria-invalid="true"] {
      .uppy-DragDrop-container {
        @apply border-destructive dark:border-destructive/50;
      }
    }

    .uppy-Root {
      @apply flex-1 text-foreground/60;

      border-radius: inherit;
    }

    .uppy-DragDrop-container {
      @apply relative flex flex-col items-stretch border-input bg-transparent dark:bg-input/30;

      border-radius: inherit;
      color: unset;

      &::before {
        @apply absolute inset-px bg-cover bg-center bg-no-repeat;

        content: "";
        background-image: var(--preview-image);
        background-size: var(--preview-fit, cover);
        border-radius: inherit;
      }
    }

    .uppy-DragDrop-inner {
      @apply z-10 flex h-full flex-1 flex-col items-center justify-center p-4 transition-opacity;

      border-radius: inherit;
    }

    .uppy-DragDrop-arrow {
      @apply mb-2 size-10 fill-accent-foreground/50;
    }

    .uppy-DragDrop-label {
      @apply font-heading text-base leading-tight lowercase;
    }

    .uppy-DragDrop-browse {
      @apply text-accent-foreground;
    }
  }

  .uppy-clear.button[data-variant="link"] {
    @apply self-center text-muted-foreground;
  }

  .uppy-cropper {
    .uppy-ImageCropper .cropper-modal {
      @apply bg-popover;
    }

    .uppy-ImageCropper-controls {
      @apply p-0;
    }

    .uppy-ImageCropper-container {
      .cropper-drag-box {
        @apply pointer-events-none;
      }

      .cropper-crop-box {
        @apply pointer-events-auto;
      }

      .cropper-view-box {
        @apply outline-accent-foreground dark:outline-background;
      }

      .cropper-point,
      .cropper-line {
        @apply bg-accent-foreground dark:bg-background;
      }

      .cropper-point {
        @apply size-3;

        &[data-cropper-action="ne"] {
          @apply -top-1.5 -right-1.5;
        }

        &[data-cropper-action="nw"] {
          @apply -top-1.5 -left-1.5;
        }

        &[data-cropper-action="sw"] {
          @apply -bottom-1.5 -left-1.5;
        }

        &[data-cropper-action="se"] {
          @apply -right-1.5 -bottom-1.5;
        }

        &[data-cropper-action="n"] {
          @apply -top-1.5;
        }

        &[data-cropper-action="e"] {
          @apply -right-1.5;
        }

        &[data-cropper-action="s"] {
          @apply -bottom-1.5;
        }

        &[data-cropper-action="w"] {
          @apply -left-1.5;
        }
      }
    }
  }

  .uppy-group {
    @apply flex flex-wrap gap-x-4 gap-y-2;

    &[data-required] {
      [data-slot="uppy-group-item"]:first-of-type {
        [data-slot="uppy-clear"] {
          @apply hidden;
        }
      }
    }
  }
}
