@import "@uppy/core/css/style.min.css" layer(base);
@import "@uppy/drag-drop/css/style.min.css" layer(base);

@layer components {
  .uppy-dnd-dropzone {
    @apply flex flex-col rounded-xl;

    &:not(:has(.uppy-Root)) {
      @apply animate-pulse bg-muted;
    }

    .uppy-Root {
      @apply flex-1 text-foreground/60;

      border-radius: inherit;
    }

    .uppy-DragDrop-container {
      @apply relative flex flex-col items-stretch border-muted-foreground/75 bg-background;

      border-radius: inherit;
      color: unset;

      &::before {
        @apply absolute inset-px bg-cover;

        content: "";
        background-image: var(--preview-image);
        border-radius: inherit;
      }
    }

    .uppy-DragDrop-inner {
      @apply z-10 flex h-full flex-1 flex-col items-center justify-center p-4 transition-opacity;

      border-radius: inherit;

      [data-controller~="uppy-dnd"][data-uppy-dnd-preview-signed-id-value]:not(
          [aria-busy]
        )
        & {
        @apply bg-background/70 opacity-0 backdrop-blur-sm hover:opacity-100;
      }

      [data-controller~="uppy-dnd"][aria-busy="true"] & {
        @apply relative;

        &::before {
          @apply absolute inset-0 bg-background/70 backdrop-blur-sm;

          content: "";
          border-radius: inherit;
        }

        &::after {
          @apply absolute spinner;

          content: "";
        }
      }
    }

    .uppy-DragDrop-arrow {
      @apply mb-2 size-10 fill-accent-foreground/50;
    }

    .uppy-DragDrop-label {
      @apply font-heading text-base leading-tight lowercase;
    }

    .uppy-DragDrop-browse {
      @apply text-accent-foreground;
    }
  }

  .button[data-variant="link"].uppy-dnd-clear {
    @apply self-center text-muted-foreground;

    [data-controller~="uppy-dnd"]:not([data-uppy-dnd-preview-signed-id-value])
      & {
      @apply hidden;
    }
  }

  .uppy-group {
    @apply flex flex-wrap gap-x-4 gap-y-2;
  }
}
